.logo {
  display: block;
  // margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  .logo-accent {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
  }
}
