.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  color: $secondary-text-color;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }

  &--current {
    position: relative;
    color: $accent-color;
  }

  &--current::after {
    content: " ";
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: $accent-color;
    border-radius: 2px;
  }
}
